pyworld
streamlit
google-generativeai
pygame
pandas
kivy
librosa
numpy
soundfile
pydub
praat-parselmouth
streamlit
numpy
pandas
google-generativeai
librosa
soundfile
pydub
praat-parselmouth
pyworld
streamlit
firebase-admin
requests
streamlit-player

